*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
li{
   display: flex;
    align-items: center;
    justify-content: center;
    

    


}



.d-flex{
    display: flex; justify-content: space-evenly;

}
.justify-center{
    justify-content: center;
}
.nav-a{text-decoration: none;}
body{
    background-color: #000000;
}
.curosr-1{
    width: 100%;
}
.button-1{
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 5.5rem;
    width: 15rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;

}
.button-2{
    border: 1px solid #ffffff;
    border-radius: 50px;
    height: 5.5rem;
    width: 15rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    background-color: #ff0000;

}