#head{
    /* navbar styling */
    #nav-link{
        gap: 30px;
    }
    #navbar{
        padding: 0px 10px;
    }
    
    }
    #main-logo{
        width: 165px;
    }
    .nav-link{
        text-decoration: none;
        color: #ffffff;
    }
    #franchise{
        background-color: transparent;
        border: 1px solid white;
        padding: 15px 20px;
        cursor: pointer;
    }
    #order-online{
        background-color:#ff0000;
        border: 0px;
        padding: 15px 20px;
        cursor: pointer;
    }
    #red{
        color: #ff0000;
    }
    #btn-icon{
        padding: 5px 7px; 
    }

    .feedback-container{
        height: 720px;
        background-image: url(../assests/salt-4.webp);
        background-size: cover;
        background-repeat: no-repeat;
        flex-direction: column;
    }
    .w-full{
        width: 100%;
    }
    .foot-font{
        font-size:1.2rem
    }

    
    
    #children-images{
        gap: 30px;
    }
    .image-public{
        width: 600px;
        box-sizing: border-box;
    }
    .flex-column{
        flex-direction: column;
    }
    .fotter-head{
        background-color: #0f0f0f;
        gap: 20px;
        padding: 50px;
    }
    .margin-300{
        margin-left: 100px;
        margin-right: 100px;
    }
   .picture-font{
   
   padding-left: 80px;
   gap: 80px;
   
   
   }
   .margin-image{
    padding-right: 80px;
   }
   .width-one{
    width: 100px;
   }
   .feedback-button{
    background-color: #ff0000;
    border-radius: 40px;
    width: 120px;
    margin: 20px;
    padding: 10px;
   }
   .border-size{
   box-decoration-break: slice;
   margin-left: 20px;
   }
   .gap-4{
    gap: 40px;
   }
   .gap-6{ 
    margin-right: 20px;
   }