


/* utility classes */


/* margin classes end */

.bg-light{
background-color: #ffffff;
}
.bg-dark{
background-color: #000000;
}
.bg-grey{
background-color: #0f0f0f;
}
.justify-between{
    justify-content: space-between;
}

.center{
text-align: center;
}
.rounded{
border-radius: 30px;
}
.rounded-sm{
border-radius: 10px;
}
.rounded-md{
border-radius: 20px;
}
.text-dark{
color: #000000;
}
.text-light{
color: #ffffff;
}
.text-grey{
color: rgba(255, 255, 255, 0.7);
}

.transparent{
background-color: transparent;
}
.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.wrap{flex-wrap: wrap;
    
}
.gap-1{gap: 20px;
}
.justify-around{
    justify-content: space-evenly;
}


*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    color: white;

}



